/* GENERALES */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
:root {
  --fuente1:'Press Start 2P', cursive; }

* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%;
  background-color: black; }

p {
  font-size: 1rem; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

/* NavBar */
header {
  display: inline;
  background-color: transparent;
  width: 100%;
  height: 8rem; }
  header a {
    text-decoration: none;
    align-items: center;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 58px;
    color: violet; }
    header a:hover {
      color: darkorchid; }
  header .title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
    color: violet;
    font-size: 2.4rem; }

/* Main */
main {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; }

.background .link {
  text-decoration: none; }

.background-one {
  background-color: #07000a; }

.background-two {
  background-color: #230331; }

.background-three {
  background-color: #39044e; }

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0; }

a {
  font-family: "Bungee", cursive;
  font-size: 2.5em; }

.link-one {
  color: #53d9d1;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
  cursor: pointer; }

.link-one:hover {
  color: #0beed7;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1); }

.background-three.link-container.background:hover {
  background-color: #0000; }

.link-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #5553d9;
  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1); }

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%); }

.link-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #030270;
  clip-path: polygon(40% 0%, 60% 0%, 60% 0%, 40% 0%, 40% 100%, 60% 100%, 60% 100%, 40% 100%);
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1); }

.link-one:hover::after {
  clip-path: polygon(40% 10%, 60% 10%, 60% 35%, 40% 35%, 40% 90%, 60% 90%, 60% 65%, 40% 65%); }

.link-two {
  color: #ff0044;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0); }

.link-two:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1); }

a.link-two.link:hover {
  color: white; }

.background-two:hover {
  background-color: #490249; }

.link-two::before {
  color: #cd11fc;
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  clip-path: polygon(0% -20%, 100% -30%, 100% -10%, 0% 0%, 0% 130%, 100% 120%, 100% 100%, 0% 110%);
  background-color: #ff00ea;
  transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1); }

.link-two:hover::before {
  clip-path: polygon(0% 10%, 100% 0%, 100% 20%, 0% 30%, 0% 100%, 100% 90%, 100% 70%, 0% 80%); }

.link-two::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 5ch;
  height: 5ch;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg) scale(0);
  transition: transform 1s ease;
  background-color: #ab1ff2; }

.link-two:hover::after {
  transform: translate(50%, -50%) rotate(135deg) scale(1); }

.link-three {
  color: #eb7132; }

.link-three::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 0%;
  transform: translate(0, -50%) scaleY(0);
  transition: transform 1s ease;
  mix-blend-mode: difference;
  clip-path: polygon(20% 60%, 100% 60%, 100% 40%, 20% 40%, 20% 0%, 60% 0%, 60% 20%, 20% 20%);
  background-color: #eb7132; }

.link-three:hover::after {
  transform: translate(0, 0%) scaleY(1); }

.link-three::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 100%;
  bottom: 0%;
  right: 0%;
  transform: translate(0, 50%) scaleY(0);
  transition: transform 1s ease;
  mix-blend-mode: difference;
  clip-path: polygon(80% 40%, 0% 40%, 0% 60%, 80% 60%, 80% 100%, 40% 100%, 40% 80%, 80% 80%);
  background-color: #eb7132; }

.link-three:hover::before {
  transform: translate(0%, 0%) scaleY(1); }

.contenedor-saldo {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center; }

.operacion-saldo-1 {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  width: 75%;
  font-weight: 800; }

.operacion-saldo-2 {
  color: #0d3cf7;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  width: 80%;
  display: inline;
  font-weight: 800; }

p.operacion-saldo-2 {
  margin-left: 1rem; }

/* formulario */
.container {
  max-width: 300px;
  margin: 20px auto;
  max-height: 100%; }

.form-h2 {
  margin: 0 auto;
  width: 80%;
  margin-left: 4rem;
  background-color: #4b4dc4;
  text-align: center; }

.a-formulario {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 900;
  color: #ecf0f1; }

.a-formulario:hover {
  color: violet; }

.form {
  width: 100%;
  background-color: #4b4dc4;
  text-align: center;
  padding: 1.25em;
  border-radius: 5px;
  height: 100%; }

.input {
  color: violet;
  font-weight: bolder;
  font-size: 2rem;
  margin: 0 0 .4em 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(19, 2, 172, 0.671);
  border: 0;
  border-bottom: 5px solid rgba(7, 24, 184, 0.705);
  line-height: 40px;
  background-color: #4b4dc4; }

[type='text'] {
  padding-left: 1em;
  font-size: 1.8rem; }

select#form_motivo {
  background: #4b4dc4;
  font-size: 1.8rem;
  font-weight: bolder;
  border-style: solid;
  border-color: black;
  margin-top: 1rem;
  color: #ebb2f3; }

[type='submit'] {
  color: violet;
  font-weight: 600;
  width: 100%;
  font-size: 1.8rem;
  border-radius: 10%;
  margin-top: 2rem;
  padding: 1rem; }

.input:focus {
  border: 0;
  border-bottom: 5px solid #2980b9;
  color: violet;
  background: transparent;
  outline: none; }

.contenedor-operaciones {
  height: auto; }

.contenedor-transferencia {
  height: 50vh; }

.contenedor-deposito {
  height: 50vh; }

.container {
  height: 50vh; }

/* index */
.header {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6rem; }
  .header .logoI {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: white;
    font-size: 65px; }
    .header .logoI span {
      color: #0b54db;
      margin-left: -25px; }
  .header .logoI-p {
    color: #0b54db;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    font-size: 2.5rem; }

/* formulario*/
.contenedor-form {
  font-family: 'Open Sans';
  font-weight: 100;
  display: flex;
  overflow: hidden; }

input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7); }

input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

input:focus {
  outline: 0 transparent solid; }
  input:focus ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7); }
  input:focus ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7); }
  input:focus :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7); }

p.login-text {
  margin-top: 6rem; }

.login-form {
  margin-top: 5rem;
  min-height: 10rem;
  height: 70%;
  width: 50%;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
  font-size: 1.4rem; }

.login-text {
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: 80%;
  padding: .5rem;
  text-align: center;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3); }
  .login-text .fa-stack-1x {
    color: black; }

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem); }
  .login-username:focus, .login-password:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in; }

.login-forgot-pass {
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  width: 100%;
  height: auto;
  bottom: 15%; }
  .login-forgot-pass:hover {
    opacity: 1; }

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  font-size: 2rem;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in; }
  .login-submit:hover, .login-submit:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in; }

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0; }

.underlay-photo {
  background-size: cover;
  z-index: -1; }

.underlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1; }
