header{
    display: inline-flex;
    background-color: transparent;
    width: 100%;
    height: 8rem;
    a{
        text-decoration: none;  margin: 10px 20px;
        align-items: center;
        font-family: 'Libre Barcode 39 Text', cursive;
        font-size: 58px;
        color: violet;
    }
   

    .title{
        margin: 0 auto;
        margin-top: 2   rem;
        
    align-items: center;
    text-align: center;

    color: violet;
    }
  


}